body {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
caption{
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
    
}
.titulo{
    font-size: 12px;
    font-weight: bold;
    color: #808080,;
}
table {
    display: block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 3);
    border-collapse: collapse;
    max-height: 400px;
    overflow-x: hidden;
}
th,td{
    padding: 15px;
    border: 1px solid;
    max-width: 150px;
}